
header{
  background-color: #2A7DFB;
  font-size: 1.2vw;
  color: #ffffff;
}

.header-container{
  display: flex;
}

.header-menu{
  margin-left: 4%;
  padding: 1% 0;
}

.top-text{
  text-align: center;
  background-color: inherit;
  font-size: 10vw;
  font-family: "myfont";
}

@font-face {
  font-family: "myfont";
  src: url(AlsScript-KdrD.ttf) format("opentype");
}

.content img {
  width: 100%;
}

.grid{
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin: 0 50px;
}
/* ã“ã“ã¾ã§ */

.item li {
  list-style: none;
}

footer{
  background-color: #2A7DFB;
  font-size: 1.5vw;
  color: #ffffff;
  text-align: center;
  padding: 1% 0;
}